/* Global Styles */
body {

    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #bfd6c0;
    color: #20c000;
    padding: 20px 0;
    text-align: center;
    justify-content: center;
}

h1 {
    margin: 25px;;
    font-size: 2.5em;
    font-style: oblique;
    justify-content: center;
}

/* Navigation Styles */
nav {
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ddd;
}

/* Main Content Styles */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Section Styles */
section {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.about h2, .services h2, .contact h2 {
    color: #4CAF50;
    font-size: 2em;
    margin-bottom: 10px;
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 5px;
    border-left: 4px solid #4CAF50;
}

/* Contact Form Styles */
.contact form {
    display: flex;
    flex-direction: column;
}

.contact label {
    margin: 10px 0 5px;
}

.contact input, .contact textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.contact button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.contact button:hover {
    background-color: #45a049;
}

/* Gallery Styles */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.image-grid img {
    width: 100%;
    border-radius: 5px;
}

/* Location Styles */
.location iframe {
    width: 100%;
    border: 0;
}

/* Video Styles */
.video iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 15px 0;
    background-color: #333;
    color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    nav a {
        margin: 10px 0;
    }

    .contact form {
        flex-direction: column;
    }
}